@import 'colors';
@import 'vars';
@import 'mixins';

.be-input-container {
  position: relative;
  display: inline-block;
}
.be-input {
  width: 280px;
  border-radius: 6px;
  font-size: 14px;
  border: solid 1px $grey-light-color;
  background-color: $light-background-color;
  margin: 20px 0;
  padding: 0 10px;
  transition: all .2s;

  &__textarea {
    resize: none;
    overflow: hidden;
    padding: 10px;
  }

  &__invalid {
    background-color: #fef7f7;
    border: solid 1px $error-color;
  }

  &__compact {
    margin: 0;

    + .be-input-error {
      bottom: -14px;
    }
  }

  &__active-select {
    @include text-ellipsis();
    padding-right: 20px;
  }
  
  &:hover:not(:disabled):not(.be-input__invalid):not(:focus) {
    border-color: $grey-color;
  }

  &:focus {
    outline: none;
    &:not(.be-input__invalid) {
      border-color: $primary-color;
    }
  }

  &:disabled {
    &:not(.be-input__invalid) {
      border: solid 1px rgba(228, 228, 228, 0.56);
    }

    &:not(.be-input__active-select) {
      background-color: rgba($light-background-color, 0.57);
      &::placeholder {
        color: rgba($grey-color, 0.33);
      }
    }
  }
}

.be-input-error {
  position: absolute;
  color: $error-color;
  font-size: 12px;
  left: 10px;
  bottom: 6px;
}

