@import '~styles/colors';
@import '~styles/vars';

.be-admin-sub4 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 6px;
  border: 1px solid $grey-darken-color;
  padding: 20px;
  width: 100%;
  height: 400px;
}
