@import './colors';
@import './vars';

@mixin be-btn {
  display: inline-block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  color: $grey-color;
  padding: 0 10px;
  transition: all .2s ease, opacity 0s;
  background-color: $light-background-color;
  border-radius: $border-radius-default;

  &:focus {
    outline-color: $primary-color;
  }

  &:disabled {
    cursor: default;
  }
}

@mixin be-drop-down-arrow {
  padding-right: 2em;
  &:after {
    content: ' ';
    position: absolute;
    right: .7em;
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s ease;
    width: 0;
    height: 0;
    border-top: 4px solid $light-background-color;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
}

@mixin text-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin keyframe ($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }

    @-moz-keyframes #{$name} {
        @content;
    }

    @-o-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}

@mixin animation ($args) {
  -webkit-animation: #{$args};
     -moz-animation: #{$args};
       -o-animation: #{$args};
          animation: #{$args};
}

@mixin animation-delay ($args) {
  -webkit-animation-delay: #{$args};
     -moz-animation-delay: #{$args};
       -o-animation-delay: #{$args};
          animation-delay: #{$args};
}