$primary-color: #2e63b2;
$selection-color: #4f85d4;

$error-color: #f46969;
$error-background-color: #ffeaeb;
$error-light-background-color: #fff8f9;
$info-color: #509ef9;
$warning-color: #ffc000;
$success-background-color: #f2fbea;

$grey-dark-color: #333;
$grey-darken-color: #414141;
$grey-color: #9a9a9a;
$grey-border-color: #d8d8d8;
$grey-lighten-color: #c9c9c9;
$grey-light-color: #e4e4e4;
$grey-lighter-color: #F6F6F6;

$body-background-color: #f6f6f6;
$light-background-color: #fff;
$dark-background-color: #eaeaea;
$lighten-background-color: #f0f0f0;

$light-text-color: #fff;

$disabled-transparent-color: rgba(255, 255, 255, 0.57);
