@import 'colors';
@import 'vars';
@import 'mixins';

.be-clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  padding: 20px 10px;
  border: 1px solid $grey-color;

  &-controls {
    display: flex;
    margin: 20px -10px;

    > button {
      margin: 0 10px;
    }
  }
}