@import '~styles/colors';
@import '~styles/vars';

.be-not-found {
  text-align: center;

  &-container {
    margin-top: 150px;
    margin-bottom: 50px;

    .be-not-found-img {
      $size: 160px;
      margin: auto;
      width: $size;
      height: $size;
      border-radius: 50%;
      background-color: $primary-color;
      color: $light-text-color;
      font-size: 48px;
      font-weight: 500;
      text-align: center;
      line-height: $size;
    }

    h1 {
      margin: 39px 0 13px;
      font-size: 24px;
      color: $grey-darken-color;
    }

    a {
      font-size: 18px;
    }
  }
}
