@import 'colors';
@import 'vars';

.be-empty-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 50px 0;
  background-color: $light-background-color;
  border-radius: 6px;

  &-divider {
    margin: 0 10px;
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    text-align: center;
    position: relative;
  }

  p {
    font-size: 18px;
    width: 600px;
    max-width: calc(100% - 40px);
    margin: 10px auto;
  }
}