@import 'colors';
@import 'vars';

.be-search {
  position: relative;

  &-table {
    margin: 20px 0;
    width: 100%;
    border-radius: 6px;
    box-shadow: $box-shadow-default;
    background-color: $light-background-color;

    &-caption {
      height: 60px;
      line-height: 60px;
      font-size: 18px;
      padding-left: 20px;
    }
  }
}
