@import 'colors';
@import 'vars';
@import 'mixins';

$table-row-background: $grey-color;

.be-table {
  font-size: 14px;
  position: relative;
  background-color: $light-background-color;
  border-radius: 6px;

  &-container {
    overflow-x: auto;
  }

  &__empty {
    min-height: 200px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  thead, tbody {
    td {
      height: 50px;
      padding: $padding-default 15px;
      border-bottom: 1px solid $grey-light-color;
    }
  }

  thead {
    background-color: rgba($table-row-background, .06);
  }

  tbody {
    color: $grey-darken-color;

    tr {
      &:hover {
        background-color: $grey-lighter-color;
      }

      &:nth-of-type(2n):not(:hover) {
        background-color: rgba($table-row-background, .03);
      }
    }
  }

  &-actions {
    width: 1%;
    text-align: right;

    &-wrapper {
      display: flex;
    }

    span + span {
      margin-left: 15px;
    }
  }

  &.be-table__sortable {
    thead {
      td {
        cursor: pointer;
        padding-right: 10px;
      }
    }

    .be-table-header-cell {
      display: flex;
      align-items: center;

      &-arrow {
        flex-shrink: 0;
        transition: all .2s ease;
        width: 0;
        height: 0;
        margin-left: 10px;
        border-top: 4px solid $grey-color;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
      }
    }

    .be-table-header-sorting {
      font-weight: 500;

      .be-table-header-cell-arrow {
        border-top-color: $grey-darken-color;
      }

      &-asc {
        .be-table-header-cell-arrow {
          transform: rotate(-180deg);
        }
      }
    }
  }
}
