@import 'colors';
@import 'vars';

.app-container {
  height: 100%;
  position: relative;
  padding-top: $header-height;
}

.be-main-content {
  max-width: $content-width-default;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 30px $padding-desktop $padding-default $padding-desktop;

  @media screen and (max-width: $break-medium) {
    & {
      padding: 30px $padding-default $padding-default;
    }
  }
}

