@import 'colors';
@import 'vars';
@import 'mixins';

.be-mobile-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 100%;

  &-container {
    cursor: default;
    position: fixed;
    overflow: visible;
    background-color: transparent;
    top: $header-height + 2;
    left: 0;
    width: 100%;
    overflow: auto;
    max-height: calc(100% - 60px);
    box-shadow: 0 25px 25px -25px rgba(0, 0, 0, .2);

    &-inner {
      width: 100%;
      background-color: $light-background-color;
      box-shadow: 0 25px 25px -25px rgba(0, 0, 0, .2);
    }

    &-enter {
      box-shadow: none;

      .be-mobile-navigation-container-inner {
        opacity: 0;
        transform: translateY(-100%);
      }
  
      &.be-mobile-navigation-container-enter-active {
        .be-mobile-navigation-container-inner {
          opacity: 1;
          transition: all .2s ease;
          transform: translateY(0);
        }
      }
    }
  
    &-leave {
      box-shadow: none;

      .be-mobile-navigation-container-inner {
        opacity: 1;
        transform: translateY(0);
      }
  
      &.be-mobile-navigation-container-leave-active {
        .be-mobile-navigation-container-inner {
          opacity: 0;
          transition: all .2s ease;
          transform: translateY(-100%);
        }
      }
    }
  }

  &-current {
    padding: 10px;
    cursor: pointer;
    position: relative;
    color: $primary-color;
    @include be-drop-down-arrow;

    &:after {
      border-top-color: $primary-color;
    }

    &.be-mobile-navigation-current__active {
      &:after {
        transform: translateY(-50%) rotate(-180deg);
      }
    }
  }

  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $grey-darken-color;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    height: 50px;

    &:hover {
      text-decoration: none;
      color: $primary-color;
    }

    &__active {
      color: $primary-color;
    }
  }
}

